.page-pagination {
  display: inline-block;
  text-align: center;
}

.page-pagination ul li button {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  line-height: 30px;
  text-align: center;
  color: #666666;
  background-color: #fcfcfc;
  cursor: pointer;
}

.page-pagination .active {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  line-height: 30px;
  text-align: center;
  cursor: none;
  text-decoration: none;
  color: rgba(212, 211, 211, 0.705);
}

.page-pagination ul li button i {
  display: block;
  line-height: 29px;
  font-size: 16px;
}
